<include file="Public/min-header"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
	<section class="content">
       <div class="row">
       		<div class="col-xs-12">
	       		<div class="box">
	           	<div class="box-header">
	                <nav class="navbar navbar-default">	     
				        <div class="collapse navbar-collapse">
				          <form class="navbar-form form-inline" action="{:U('wapnavigationList')}" method="post">
				            <div class="form-group">
				              	<input type="text" name="keywords" class="form-control" placeholder="搜索">
				            </div>
				            <div class="form-group">
				              	<select name="lei" class="form-control" style="width:200px;">
				              	<option value=""  <if condition="$lei eq ''">selected</if>>查看所有</option>

                                <volist name="wap_lei_show" id="list">
				              		<option value="{$i-1}" <if condition="$lei eq $i-1">selected</if>>{$list}</option>
                                </volist>   
                                   
				              	</select>
				            </div>
				            <button type="submit" class="btn btn-default">提交</button>
				            <div class="form-group pull-right">
					            <button type="button" onclick="location.href='{:U('wapaddEditNav')}'"  class="btn btn-primary pull-right"><i class="fa fa-plus"></i>新增导航</button>
				            </div>		          
				          </form>		
				      	</div>
	    			</nav>               
	             </div>	    
	             <!-- /.box-header -->
	             <div class="box-body">	             
	           		<div class="row">
	            	<div class="col-sm-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="sorting text-center">图标</th>
                                <th class="sorting text-center">导航名称</th>
                                <th class="sorting text-center">链接地址</th>   
                                <th class="sorting text-center">所属位置</th>                                 
                                <th class="sorting text-center">是否显示</th>
                                <th class="sorting text-center">是否新窗口</th>
                                <th class="sorting text-center">排序</th>                                
                                <th class="sorting text-center">操作</th>                                
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="navigationList" id="list">
                                <tr>
                                    <td class="text-left"><img width="30" height="30" src="{$list.img}"  onerror="this.src='__PUBLIC__/images/bg-upload.png'"/></td> 
                                    <td class="text-left">{$list.name}</td> 
                                    <td class="text-left">{$list.url}</td>    
                                    <td class="text-left"><?php echo ($wap_lei_show[$list["lei"]]); ?></td>                            
                                    <td class="text-center">
                                        <img width="20" height="20" src="__PUBLIC__/images/<if condition='$list[is_show] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('wapnavigation','id','{$list.id}','is_show',this)"/>
                                    </td>
                                    <td class="text-center">                                    
                                        <img width="20" height="20" src="__PUBLIC__/images/<if condition='$list[is_new] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('wapnavigation','id','{$list.id}','is_new',this)"/>                                                      
                                    </td>
                                    <td class="sorting text-center">
                                    <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onchange="updateSort('wapnavigation','id','{$list.id}','sort',this)"  size="4"  value="{$list.sort}" />
                                    </td>                                    
                                    <td class="text-right">
                                        <a href="{:U('System/wapaddEditNav',array('id'=>$list['id'],'lei'=>$lei,'p'=>$p))}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
                                        <a href="javascript:del_fun('{:U('System/wapdelNav',array('id'=>$list['id'],'lei'=>$lei,'p'=>$p))}');" id="button-delete6" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>	               </div>
	          </div>
              <div class="row">
              	    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">{$page}</div>		
              </div>
	          </div><!-- /.box-body -->
	        </div><!-- /.box -->
       	</div>
       </div>
   </section>
</div>